* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
  }

  /**First Section **/

img {
    width: 300px;
    height: auto;
}  

a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;  
}

.header-section {
    background-color: #1f2937;
    color: #F9FAF8;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    padding: 20px 0px 0px 100px;
    font-weight: bold;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.header-links {
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
}

.link-one   {
    margin: 20px 10px;
}

.link-two {
    margin: 20px 10px;
}

.link-three {
    margin: 20px 10px;
}

.hero {
    display: flex;
    justify-content: space-around;
}

.hero-text {
    padding-left: 25px;
}

.hero-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.hero-sec {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    display: inline-block;
    background-color: #3882f6;
    color: white;
    width: 80px;
    height: 20px;
    text-align: center;
    border: 4px;
    border-radius: 10px;
}

.info-section {
    font-size: 36px;
    font-weight: 800;
    color: #1f2397;
    text-align: center;
    padding: 30px 0px;
}

.info-section-pics {
    display: flex;
    justify-content: space-around;
}

.info {
    border: 4px solid #3882f6;
    border-radius: 25px;
    width: 300px;
    height: 300px;
}